@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {}

*,
*::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100vw;
  box-sizing: inherit;
}

html {
  background-color: #FFFEF4;
}

p {
  font-family: "DM sans", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h2 {
  font-size: 36px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h3 {
  font-size: 32px;
  margin-left: 1.5rem;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h4 {
  font-size: 24px;
  margin: 1rem;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.logo {
  width: 3rem;
  height: auto;
}

.text__general {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 16px;
}

.header__intro,
.header__cta p,
.header__cta {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.header__cta p {
  font-size: 18px;
}

.header__cta--text {
  margin: 0;
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__image,
.attack__knife,
.collage,
.interaction__lever,
.image__narrator {
  width: 100vw;
  height: auto;
}

.interaction__lever {
  margin-left: -5rem;
}

.text__attack {
  padding-top: 4rem;
  margin-top: 0rem;
}

.attack__collage {
  margin-bottom: -1rem;
}

.attack__box,
.languages__box {
  background-image: url(../public/assets/background-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.languages__box {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.info__box--red {
  background-color: #800020;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
  margin-top: -1rem;
}

.info__box--yellow {
  background-color: #D4A017;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
}

.info__box--yellow--germany {
  background-color: #D4A017;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
}

.info__box--red::before {
  content: url(../public/assets/red-info.svg);
  position: absolute;
  margin-top: -11rem;
  left: 40%;
}

.info__box--yellow::before {
  content: url(../public/assets/yellow-info.svg);
  position: absolute;
  margin-top: -9rem;
  left: 40%;
}

.info__text {
  color: #FFFEF4;
}

.illustrations__box--header,
.illustrations__box--quote,
.button__box {
  display: flex;
  flex-direction: row;
}

.button__box {
  justify-content: center;
  align-items: center;
}

.illustrations__collage--header,
.illustrations__collage--quote {
  width: 130px;
  height: auto;
}

.illustrations__box h3 {
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.text__illustrations {
  margin-top: -3rem;
}

.illustrations__quote {
  font-size: 42px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #D4A017;
  padding-right: 2rem;
  line-height: 100%;
}

.button {
  align-items: center;
  box-sizing: border-box;
  color: #171e29;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.button__visit {
  background-color: #D4A017;
  border: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button__collection {
  background-color: transparent;
  border: 1px solid #000;
  margin-right: 1rem;
}


.button__visit:hover {
  color: #FFFEF4;
}

.button__collection:hover {
  border-color: transparent;
  background-color: #D4A017;
  color: #FFFEF4;
}

.text__horizontal--box {
  /* padding-top: 3rem; */
  /* background-color: #5B3A29; */
  color: #FFFEF4;
  margin: 0;
}

.horizontal__text--wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B3A29;
  min-height: 240px;
}

.narrator__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

/* navigation css */

.hidden {
  display: none;
}

main {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

dl {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content max-content;
}

.nav a:any-link {
  color: black;
  text-decoration: none;
}

.nav,
.nav--fixed {
  margin: 0 auto 2rem auto;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: var(--max-page-width);
  display: grid;
}

.nav--fixed {
  position: fixed;
  width: 100%;
  background-color: #FFFEF4;
  border-bottom: 1px solid #333;
}

.nav__button {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;

  /* reset button styles */
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
  /*safari*/
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 0;
}

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
}

.nav__link:hover {
  background-color: var(--primary-color);
}

.nav__item {
  list-style: none;
}

@media screen and (min-width: 45em) {
  .nav {
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1rem
  }

  .nav__title {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
  }

  .nav__link {
    padding-inline: 2rem;
  }
}

/*end navigation css */

.horizontal__box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: scroll;
}

.horizontal__box--item {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*footer*/

footer {
  border-top: #333 solid 1px;
}

.newsletter {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 10px;
}

.newsletter p {
  font-style: italic;
  margin-bottom: 10px;
}

.newsletter form {
  display: inline-flex;
  align-items: center;
}

.newsletter input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  width: 200px;
}

.newsletter button {
  padding: 8px 15px;
  background-color: #333;
  color: #FFFEF4;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 5px;
}

.footer__links a {
  color: #FFFEF4;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.contact__info p {
  color: #FFFEF4;
}

.contact__info a {
  color: #FFFEF4;
  text-decoration: none;
}

.contact__info a:hover {
  text-decoration: underline;
}

.social__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 3rem;
}

.social__icons a img {
  width: 4rem;
  height: auto;
}

.gulden__box {
  background-image: url(../public/assets/background-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.text__gulden--box {
  width: 90vw;
}

.gulden__box--item {
  height: 100vh;
  justify-content: center;
}

.gulden__collage {
  height: 70vh;
  width: auto;
}

.germany__collage {
  height: 80vh;
  width: auto;
}

.footprints {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footprints__item {
  width: 50vw;
  height: auto;
}

.info__box--polyglot {
  max-width: 80vw;
  background-color: #D4A017;
  padding: .5rem;
}

.germany__box {
  background-image: url(../public/assets/germany-collage.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  background-position: bottom;
  align-self: flex-end;
}

.germany__box--item {
  width: 30rem;
  height: 100%;
  justify-content: center;
}

.text__germany {
  max-width: 80vw;
  margin-top: 5rem;
}

.explenation__interaction{
  background-color: #D4A017;
  padding: 1rem;
  color: #FFFEF4;
  font-weight: 700;
}

/* card interaction */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/assets/background-letters.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}

.letter__title {
  font-size: 1.5em;
  color: #800020;
  padding: 1rem;
  font-family: eb garamond;
}

.letter__text {
  font-size: 1em;
  color: #333;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "EB Garamond", serif;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.answer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer__A h4 {
  color: #D4A017;
}

.answer__B h4 {
  color: #800020;
}

.answer__title {
  font-size: 1.5em;
  color: #800020;
  padding: 1rem;
  font-family: "EB Garamond", serif;
  justify-self: center;
  text-align: center;
}

.arrow {
  width: 100px;
  height: auto;
}

.arrow__left {
  transform: rotate(180deg);
}

.divider {
  border-left: 2px solid black;
  height: 100px;
}

.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}