@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {}

html{
  background-color: #FFFEF4;
}

p{
  font-family: "DM sans", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h2 {
  font-size: 36px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h3{
  font-size: 32px;
  margin-left: 1.5rem;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.text__general{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 16px;
}

.header__intro,
.header__cta p,
.header__cta{
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
}
.header__cta p{
  font-size: 18px;
}

.header__cta--text{
  margin: 0;
}

.header__box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__image,
.attack__knife,
.collage{
  width: 100vw;
  height: auto;
}

.text__attack{
  padding-top: 4rem;
}

.attack__collage{
  margin-bottom: -1rem;
}

.attack__box{
  background-image: url(../public/assets/background-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.info__box--red{
  background-color: #800020;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
  margin-top: -1rem;
}

.info__box--red::before{
  content: url(../public/assets/red-info.svg);
  position: absolute;
  margin-top:-11rem;
  left: 40%;
}

.info__text{
  color: #FFFEF4;
}