@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {}

*,
*::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100vw;
  height: 100%;
  box-sizing: inherit;
}

p {
  line-height: 125%;
  font-family: 'DM sans', sans-serif;
}

img {
  width: 100%;
  /* Make the width responsive */
  height: auto;
  /* Maintain aspect ratio */
}

html {
  background-color: #FFFEF4;
}



.footer__links {
  margin-top: 1.5rem;
}

p,
.footer__links {
  font-family: "DM sans", sans-serif;
}

.footer__links {
  border-bottom: #FFFEF4 solid 1px;
}

.footer__links a {
  margin-left: 0px;
}

.button__next {
  margin: 3rem;
}

.loading__screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFEF4;
  transition: opacity 1s, visibility 1s;
  z-index: 100;
}

.load__icon--hidden {
  opacity: 0;
  visibility: hidden;
}

.nav a:any-link:hover {
  color: #D4A017;
}

.loading__screen::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #333;
  border-top-color: #800020;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }

}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h2 {
  font-size: 36px;
  text-align: center;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h3 {
  font-size: 32px;
  margin-left: 1.5rem;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

h4 {
  font-size: 24px;
  margin: 1rem;
  line-height: 100%;
  color: #333;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.logo {
  width: 3rem;
  height: auto;
  margin: .5rem;
}

.text__general {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 16px;
}

.header__intro,
.header__cta p,
.header__cta {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.header__cta p {
  font-size: 18px;
}

.header__cta--text {
  margin: 0;
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.early__days--box,
.bookprinting__box,
.shady__box,
.illegal__box {
  padding-top: 8rem;
}

.answer p {
  text-align: center;
}

.illegal__text {
  margin-bottom: 6rem;
}

.bookprinting__box,
.shady__box {
  padding-bottom: 6rem;
}

.early__days--box,
.bookprinting__box,
.shady__box,
.settingtype__text,
.collage__press,
.info__box--red,
.lever__text,
.auction__text {
  opacity: 0;
}

.press__text,
.collage__settingtype,
.interaction__lever--box,
.info__box--yellow,
.collage__auction {
  transform: translateX(-100%);
  /* Positioned off-screen to the left */
  opacity: 0;
  /* Initially hidden */
}

.attack__knife,
.collage,
.interaction__lever,
.image__narrator {
  width: 100vw;
  height: auto;
}

.interaction__lever {
  margin-left: -5rem;
  transition: all 2s ease-in-out;
  transform-origin: 0 50%;
}

.interaction__lever--pulled {
  transform: rotate(35deg);
}

.text__reveal {
  opacity: 0;
}

.reveal {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.text__attack {
  padding-top: 4rem;
  margin-top: 0rem;
}

.attack__collage {
  margin-bottom: -1rem;
}

.attack__box,
.languages__box {
  background-image: url(../public/assets/background-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.attack__box {
  display: grid;
  grid-template-areas:
    "text-1"
    "text-2"
    "knife"
    "collage";
}

.languages__box {
  height: 100vh;
}

.info__box--red {
  background-color: #800020;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
  margin-top: -1rem;
}

.info__box--yellow {
  background-color: #D4A017;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
}

.info__box--yellow--germany {
  background-color: #D4A017;
  padding: 1rem;
  align-items: center;
  margin: 2.5rem;
}

.info__box--red::before {
  content: url(../public/assets/red-info.svg);
  position: absolute;
  margin-top: -11rem;
  left: 40%;
}

.info__box--yellow::before {
  content: url(../public/assets/yellow-info.svg);
  position: absolute;
  margin-top: -9rem;
  left: 40%;
  z-index: -1;
}

.info__text {
  color: #FFFEF4;
}

.illustrations__collage--header,
.illustrations__collage--quote {
  width: 33vw;
  height: auto;
}

.illustrations__box h3 {
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.text__illustrations {
  margin-top: -1.5rem;
}

.illustrations__quote {
  font-size: 42px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #D4A017;
  line-height: 100%;
}

.illustrations__box {
  display: grid;
  grid-template-areas: 'illustrations__box--header illustrations__box--header illustrations__box--collage--1'
    'illustrations__box--text--1 illustrations__box--text--1 illustrations__box--text--1'
    'illustrations__box--collage--2 illustrations__box--quote illustrations__box--quote'
    'illustrations__box--text--2 illustrations__box--text--2 illustrations__box--text--2'
    'button__box button__box button__box';
}

.illustrations__box--header {
  grid-area: illustrations__box--header;
}

.illustrations__box--collage--1 {
  grid-area: illustrations__box--collage--1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.illustrations__box--collage--2 {
  grid-area: illustrations__box--collage--2;
}

.illustrations__box--text--1 {
  grid-area: illustrations__box--text--1;
}

.illustrations__box--text--2 {
  grid-area: illustrations__box--text--2;
}

.illustrations__box--quote {
  grid-area: illustrations__box--quote;
}

.button__box {
  grid-area: button__box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  align-items: center;
  box-sizing: border-box;
  color: #171e29;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.button__visit {
  background-color: #D4A017;
  border: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button__collection {
  background-color: transparent;
  border: 1px solid #000;
  margin-right: 1rem;
}


.button__visit:hover {
  color: #FFFEF4;
}

.button__collection:hover {
  border-color: transparent;
  background-color: #D4A017;
  color: #FFFEF4;
}

.text__horizontal--box {
  /* padding-top: 3rem; */
  /* background-color: #5B3A29; */
  color: #FFFEF4;
  margin: 0;
}

.horizontal__text--wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B3A29;
  min-height: 240px;
}

.narrator__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

/* navigation css */

.hidden {
  display: none;
}

main {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

dl {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content max-content;
}

.nav a:any-link {
  color: black;
  text-decoration: none;
  font-size: larger;
  margin-top: 1rem;
}

.nav,
.nav--fixed {
  margin: 0 auto 2rem auto;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: var(--max-page-width);
  display: grid;
  z-index: 3;
}

.nav--fixed {
  position: fixed;
  width: 100%;
  background-color: #FFFEF4;
  border-bottom: 1px solid #333;
}

.nav__button {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;

  /* reset button styles */
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
  /*safari*/
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 0;
}

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
  font-size: 0.75rem;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
}

.nav__link:hover {
  background-color: var(--primary-color);
}

.nav__item {
  list-style: none;
}

.horizontal__box {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.horizontal__box--item {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal__box--item--early {
  justify-content: flex-end;
}

/*footer*/

footer {
  border-top: #333 solid 1px;
}

.newsletter {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 10px;
}

.newsletter p {
  font-style: italic;
  margin-bottom: 10px;
}

.newsletter form {
  display: inline-flex;
  align-items: center;
}

.newsletter input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  width: 200px;
}

.newsletter button {
  padding: 8px 15px;
  background-color: #333;
  color: #FFFEF4;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.social__icons img {
  filter: invert(1);
}

.social__box {
  margin: 2rem;
  margin-left: 0rem;
}

.text__social {
  color: #FFFEF4;
}

.footer__links {
  list-style: none;
  padding-bottom: 2rem;
  padding-left: 0;
}

.footer__links li {
  margin-bottom: 1rem;
}

.footer__links a {
  color: #FFFEF4;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.contact__info p {
  color: #FFFEF4;
}

.contact__info a {
  color: #FFFEF4;
  text-decoration: none;
}

.contact__info a:hover {
  text-decoration: underline;
}

.social__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 3rem;
}

.social__icons a img {
  width: 4rem;
  height: auto;
}

.gulden__box {
  background-image: url(../public/assets/background-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.text__gulden--box {
  width: 90vw;
}

.gulden__box--item {
  justify-content: center;
}

.gulden__collage {
  height: 50vh;
  width: auto;
}

.germany__collage {
  height: 80vh;
  width: auto;
}

.footprints {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footprints__item {
  width: 50vw;
  height: auto;
}

.info__box--polyglot {
  margin-top: 3rem;
  max-width: 80vw;
  background-color: #D4A017;
  padding: .5rem;
}

.germany__box {
  background-image: url(../public/assets/germany-collage.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  background-position: bottom;
  align-self: flex-end;
}

.germany__box--item {
  width: 30rem;
  height: 100%;
  justify-content: center;
}

.text__germany {
  max-width: 80vw;
  margin-top: 5rem;
}

.explenation__interaction {
  background-color: #D4A017;
  padding: 1rem;
  color: #FFFEF4;
  font-weight: 700;
}

/* card interaction */

.card__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/assets/background-letters.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
  grid-row: 1;
  grid-column: 1;
}

.card__1 {
  z-index: 7;
  transform: rotate(3deg);
  transition: all 1s ease-out;
}

.card__2 {
  z-index: 6;
  transform: rotate(-2deg);
  transition: all 1s ease-out;
}

.card__3 {
  z-index: 5;
  transform: rotate(2deg);
  transition: all 1s ease-out;
}

.card__4 {
  z-index: 4;
  transform: rotate(-4deg);
  transition: all 1s ease-out;
}

.card__5 {
  z-index: 3;
  transform: rotate(1deg);
  transition: all 1s ease-out;
}

.card__6 {
  z-index: 2;
  transform: rotate(-2.5deg);
  transition: all 1s ease-out;
}

.card__7 {
  z-index: 1;
  transform: rotate(3.5deg);
}

.score__devider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__next--right {
  transform: translateX(100vw);
}

.card__next--left {
  transform: translateX(-100vw);
}


.letter__title {
  font-size: 1.5em;
  color: #800020;
  padding: 1rem;
  font-family: eb garamond;
}

.letter__text {
  font-size: 1em;
  color: #333;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "EB Garamond", serif;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.answer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer__A h4 {
  color: #D4A017;
}

.answer__B h4 {
  color: #800020;
}

.answer__title {
  font-size: 1.5em;
  color: #800020;
  padding: 1rem;
  font-family: "EB Garamond", serif;
  justify-self: center;
  text-align: center;
}

.arrow {
  width: 100px;
  height: auto;
}

.arrow__left {
  transform: rotate(180deg);
}

.divider {
  border-left: 2px solid black;
  height: 100px;
}

.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.score__text {
  font-family: "EB Garamond", serif;
}

.card__result h4 {
  font-size: 2rem;
}

.score__devider p {
  font-size: 4rem;
  margin: 1rem;
  font-family: "EB Garamond", serif;
}

/* end of card interaction */

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }
}

.interaction__lever {
  animation: blink 1.5s infinite;
  cursor: pointer;
}

/* Stop blinking when clicked */
.interaction__lever.stopped {
  animation: none;
  opacity: 1;
}

.interaction__lever {
  transition: all 2s ease-in-out;
}

.collage__attack--mobile {
  display: flex;
}

.collage__attack--desktop {
  display: none;
}

.text__attack--2 {
  padding-top: 0rem;
}

.gulden__box--area--1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* animation header */

.floating-letter {
  position: absolute;
  font-size: 6rem;
  color: #dddab2;
  opacity: 1;
  animation: floatUp 3s linear forwards;
  z-index: 1;
}

.floating__container {
  grid-area: letters;
  width: 100vw;
  overflow: visible;
  z-index: 1;
}

@keyframes floatUp {
  from {
    transform: translateY(80%);
    opacity: 1;
  }

  to {
    transform: translateY(-130%);
    opacity: 0;
  }
}

.header__image--box {
  grid-area: image;
  z-index: 2;
  position: relative;
  top: 20%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__animation--box {
  display: grid;
  grid-template-areas:
    'letters'
    'image';
}

.header__image--box--passer img {
  width: 50%;
  height: auto;
  position: relative;
}

.header__image--box--passer {
  grid-area: image;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.text__general--unrevealed {
  font-family: 'EB Garamond';
  color: #800020;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
  position: absolute;
}

.languages__box--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal__quote {
  color: #800020;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 42px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  line-height: 100%;
}

.footprints__left {
  margin-top: -7rem;
}

.footprints__right {
  margin-bottom: -7rem;
}

@media screen and (min-width: 768px) {

  .footprints__left {
    margin-top: 0;
  }

  .footprints__right {
    margin-bottom: 0;
  }

  .nav {
    align-items: center;
    gap: 1rem;
    display: flex;
  }

  .nav a:any-link {
    color: black;
    text-decoration: none;
    font-size: medium;
  }

  .header__image--box {
    margin-left: 0;
    margin-right: 0;
  }

  .nav__title {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
  }

  .nav__link {
    padding-inline: 2rem;
  }

  .card__box {
    padding: 5vw;
  }

  .header__box {
    display: grid;
    grid-template-areas:
      'header__image header__image header__title'
      'header__intro header__intro header__intro'
      'header__cta header__cta header__cta';
  }

  .header__image--box {
    margin-left: 3rem;
  }

  .header__cta {
    grid-area: header__cta;
  }

  .header__title {
    grid-area: header__title;
    width: 50vw;
  }

  .header__image {
    grid-area: header__image;
    /* width: 60vw; */
  }

  .header__intro {
    grid-area: header__intro;
  }

  .early__days--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .early__days--box p,
  .bookprinting__box p,
  .shady__box p {
    text-align: center;
    max-width: 60vw;
  }

  .early__days--wrapper {
    display: flex;
    flex-direction: column;
  }

  .image__narrator,
  .collage__france,
  .collage__antwerp {
    width: 50vw;
  }

  .text__attack {
    max-width: 40vw;
  }

  .attack__knife {
    width: 25vw;
    transform-origin: center left;
    /* Updated to use viewport units */
    transform: rotate(180deg);
    grid-area: animation;
    justify-self: center;
  }

  .attack__knife--box {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: animation;
    transform: rotate(0deg);
    transform-origin: center 50vw;
  }

  .attack__animation--box {
    display: grid;
    grid-template-areas: 'animation';
  }

  .collage__attack--mobile {
    display: none;
  }

  .collage__attack--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attack__knife--collage {
    grid-area: collage;
    z-index: 2;
    align-self: flex-end;
    grid-area: animation;
  }

  .attack__box {
    grid-template-areas:
      'text'
      'collage';
  }

  .text__attack--1 {
    grid-area: text;
    align-self: flex-start;
  }

  .text__attack--2 {
    justify-self: flex-end;
    grid-area: text;
    padding-top: 12rem;
    align-self: flex-start;
  }

  .bookprinting__box,
  .shady__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .settingtype__box,
  .press__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .press__box {
    flex-direction: row;
  }

  .collage__settingtype,
  .collage__press,
  .interaction__lever,
  .collage__auction,
  .gulden__collage--1 {
    width: 50vw;
    height: auto;
  }

  .info__box--red,
  .info__box--yellow {
    max-width: 45vw;
    align-self: center;
  }

  .info__box--red::before,
  .info__box--yellow::before {
    display: none;
  }

  .press__wrapper {
    display: flex;
    flex-direction: column;
  }

  .lever__box {
    display: grid;

    grid-template-areas:
      'lever text'
      'info info';

    justify-content: center;
    align-items: flex-start;
  }

  .interaction__lever {
    grid-area: lever;
  }

  .lever__text {
    grid-area: text;
  }

  .info__box--yellow {
    grid-area: info;
    justify-self: center;
  }

  .languages__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .languages__box p {
    max-width: 65vw;
    text-align: center;
  }

  .illustrations__box {
    display: grid;
    grid-template-areas: 'illustrations__box--collage--2 illustrations__box--header illustrations__box--collage--1'
      'illustrations__box--collage--2 illustrations__box--text--1 illustrations__box--collage--1'
      'illustrations__box--collage--2 illustrations__box--quote illustrations__box--collage--1'
      'illustrations__box--collage--2 illustrations__box--text--2 illustrations__box--collage--1'
      'illustrations__box--collage--2 button__box illustrations__box--collage--1';
    justify-content: center;
    align-items: center;
  }

  .illustrations__quote {
    text-align: center;
  }

  .illustrations__box--collage--2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .illustrations__collage--header,
  .illustrations__collage--quote {
    width: 30vw;
    height: auto;
  }

  .illustrations__box--collage--1,
  .illustrations__box--collage--2 {
    width: 27vw;
  }

  .illustrations__quote {
    font-size: 32px;
  }

  .illegal__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .illegal__letters {
    border-left: solid 2px #333;
    width: 70vw;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .illegal__text {
    width: 50vw;
  }

  .auction__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }

  .collage__auction {
    transform: scaleX(-1);
  }

  .gulden__box {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
      'area-1'
      'footsteps'
      'text-2'
      'collage-2';
  }

  .gulden__box--area--1 {
    grid-area: area-1;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: anchor-center;
  }

  .gulden__box--text--1 p {
    width: 42vw;
    height: auto;
  }

  .gulden__collage--1 {
    grid-area: collage-1;
  }

  .germany__box--text {
    grid-area: text-2;
  }

  .germany__box {
    grid-area: collage-2;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: auto;
  }

  .footprints__item {
    width: 20vw;
    height: auto;
  }

  .footprint__1,
  .footprint__2,
  .footprint__3,
  .footprint__4,
  .footprint__5,
  .footprint__6 {
    opacity: 0;
  }

  .horizontal__box--item {
    height: fit-content;
  }

  .footprint__1 {
    transform: rotate(50deg);
    margin-top: -3rem;
    height: 100%;
  }

  .footprint__2 {
    transform: rotate(30deg);
    margin-top: -1rem;
    height: 100%;
  }

  .footprint__3 {
    transform: rotate(45deg);
    margin-top: 8rem;
    margin-left: -5rem;
    height: 100%;
  }

  .footprint__4 {
    transform: rotate(34deg);
    margin-top: 8rem;
    height: 100%;
  }

  .footprint__5 {
    transform: rotate(50deg);
    margin-top: 18rem;
    margin-left: -4rem;
    height: 100%;
  }

  .footprint__6 {
    transform: rotate(50deg);
    margin-top: 25rem;
    height: 100%;
  }

  .germany__box--info {
    justify-self: flex-end;
    width: 40vw;
    padding-bottom: 18rem;
    margin-left: 1.5rem;
  }

  .germany__box--text {
    padding-bottom: 2rem;
  }

  .germany__box--empty {
    display: none;
  }

  .germany__box {
    background-image: url(../public/assets/germany-collage-big.png);
    margin-top: -15rem;
  }

  #floating-container {
    width: 40vw;
  }

  .horizontal__box--item--early {
    align-self: flex-end;
  }

  .footer__links {
    border: 0;
  }
}

@media screen and (min-width: 1024px) {

  p {
    font-size: 20px;
  }

  .illustrations__quote {
    font-size: 4vw;
  }

  .text__general {
    font-size: 20px;
    margin-left: 4rem;
    margin-right: 2rem;
  }

  .nav__link {
    font-size: 1rem;
  }

  .header__box {
    grid-template-areas:
      'header__image header__image header__title'
      'header__cta header__cta header__cta';
  }

  .header__intro {
    grid-area: header__title;
    padding-top: 20rem;
    font-size: 30px;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .header__title {
    font-size: 64px;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .bookprinting__box p {
    margin-left: 2rem;
  }

  .header__cta p {
    font-size: 24px;
  }

  .footer__content {
    align-items: flex-start;
  }

  .footer__links,
  .contact__info,
  .social__box {
    margin-top: 0;
  }

  .footer__links {
    margin-top: 1rem;
  }

  h2 {
    font-size: 52px;
  }

  h3 {
    font-size: 48px;
    margin-left: 4rem;
  }

  .early__days--box p,
  .bookprinting__box p,
  .shady__box p {
    max-width: 40vw;
  }

  .horizontal__box {
    display: grid;
    grid-template-areas: 'item';
  }

  .horizontal__box--item--early {
    grid-area: item;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .horizontal__text--wrapper {
    max-height: 200px;
    max-width: 60vw;
    align-self: flex-end;
  }

  .image__narrator,
  .collage__france,
  .collage__antwerp {
    width: 30vw;
  }

  .horizontal__text--wrapper {
    background-color: transparent;
  }

  .text__horizontal--box {
    color: #333;
  }

  .info__box--red,
  .info__box--yellow {
    align-self: flex-end;
  }

  .lever__text {
    max-width: 40vw;
  }

  .interaction__lever--box {
    width: 60vw;
  }

  .shady__box p {
    margin-left: 2rem;
  }

  .illegal__letters {
    width: 50vw;
  }

  .auction__text {
    align-self: center;
  }

  .gulden__box {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
      'area-1'
      'footsteps'
      'text-2'
      'collage-2';
  }

  .gulden__box--item {
    height: fit-content;
  }

  .germany__box--info {
    padding-bottom: 24rem;
  }

  .germany__box--text {
    width: 60vw;
  }

  .germany__box--info {
    margin-left: 4rem;
  }

  .germany__box--info p {
    margin-left: 2rem;
  }

  .narrator__box {
    opacity: 1;
    /* Initially visible */
  }

  .france__box,
  .antwerp__box {
    opacity: 0;
    /* Initially hidden */
  }

  .languages__box p {
    max-width: 55vw;
  }

}

@media screen and (min-width: 1440px) {

  .text__general {
    margin-right: 4rem;
  }

  .info__box--red,
  .info__box--yellow {
    max-width: 30vw;
  }

  .header__intro {
    padding-top: 25rem;
    font-size: 36px;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .header__title {
    font-size: 96px;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .lever__box {
    grid-template-areas:
      'info info'
      'lever text';
  }

  .info__box--yellow {
    justify-self: flex-start;
    margin-left: 10rem;
  }
}

@media screen and (min-width: 1920px) {

  .logo {
    width: 6rem;
    margin: 2rem;
  }

  .text__general {
    margin-right: 6rem;
    margin-left: 6rem;
  }

  .header__intro {
    padding-top: 30rem;
    font-size: 48px;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .header__title {
    font-size: 128px;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .floating-letter {
    font-size: 12rem;
  }

  .nav a:any-link {
    font-size: 2rem;
  }

  .nav__link {
    padding-right: 4rem;
  }

  .header__cta p {
    font-size: 4rem;
  }

  p,
  .text__general {
    font-size: 30px;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 64px;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .horizontal__text--wrapper {
    max-height: 300px;
    max-width: 40vw;
  }

  .horizontal__box {
    overflow-x: hidden;
  }

  .text__attack,
  .lever__text {
    max-width: 30vw;
  }

  .languages__box p {
    max-width: 40vw;
  }

  .languages__box span {
    font-size: 5rem;
  }

  .languages__box {
    margin-bottom: 12rem;
  }

  .interaction__lever--box {
    width: 50vw;
  }

  .interaction__lever {
    margin-left: -20vw;
  }

  .letter__title {
    font-size: 3em;
  }

  .letter__text {
    font-size: 2em;
  }

  .illegal__text {
    width: 40vw;
  }

  .germany__box {
    background-size: cover;
  }

  .germany__box--text {
    width: 50vw;
  }

  .germany__box--info {
    padding-bottom: 60rem;
    margin-left: 6rem;
    width: 30vw;
  }
}